/* A stylesheet for all three web pages */

h1,h2,h4,h5,h6 {
  color:#1a1a1a;
  font-family:Times, serif;
  text-align:center;
  width:550px;
}

h1,h2,h3,h4,h5,h6,p,ul {
  margin-left:auto;
  margin-right:auto;
}

p,ul {
  font-family:Times, sans-serif;
  width: 50em;
}

a {
  color:#003cb3;
}

img {
  display:block;
  margin-left:auto;
  margin-right:auto;
}

.resumesection {
  text-align:left;
  width:30em;
  margin-left:auto;
  margin-right:auto;
}

.stylebar {
  background-color: #ffcccc;
  width:200px;
  height:50px;
}

#contactme {
  text-align:center;
  width:10em;
}

#index {
  width:10em;
  margin-left:auto;
  margin-right:auto;
}
