/* A stylesheet for all three web pages */

h1 {
  color:#1a1a1a;
  font-family:Times, serif;
}

div {
  background-color: #ffcccc;
  width:%100;
  height:50px;
}

h1, p {
  margin-left:auto;
  margin-right:auto;
  width: 10em;
}

p {
  font-family:Times, sans-serif;
}

a {
  color:#003cb3;
}

img {
  display:block;
  margin-left:auto;
  margin-right:auto;
}
